/* General Container */
.all-tasks-container {
  padding: 40px;
  background-color: #ecf0f1;
  min-height: 100vh;
  margin-left: 240px;
  box-sizing: border-box;
}

.all-tasks-container h1 {
  font-size: 2.4rem;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

/* Controls */
.controls-task-list {
  display: flex;
  align-items: center; /* Adjust this to space the elements */
  margin-bottom: 20px;
}

.search-bar-project-all-tasks {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #bdc3c7;
  font-size: 1rem;
  outline: none;
  width: 250px; /* Fixed width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.search-bar-project-all-tasks:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.filter-dropdown-all-tasks {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #bdc3c7;
  font-size: 1rem;
  outline: none;
  width: 200px; /* Adjusted width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin-left: 0px;
}

.filter-dropdown-all-tasks:focus {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.create-task-button {
  padding: 8px 20px; /* Smaller padding */
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  white-space: nowrap;
  margin-left: 850px;
}

.create-task-button:hover {
  background-color: #2980b9;
  transform: translateY(-3px);
}

/* Tasks Table */
.tasks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tasks-table th {
  background-color: #3498db;
  color: white;
  padding: 15px;
  text-align: left;
  font-size: 1rem;
}

.tasks-table td {
  padding: 15px;
  border-bottom: 1px solid #ecf0f1;
  font-size: 1rem;
}

.tasks-table tr:hover {
  background-color: #ecf0f1;
}

.task-link {
  color: #3498db;
  text-decoration: none;
}

.task-link:hover {
  text-decoration: underline;
}

.action-column {
  text-align: center;
}

.tasks-table th.action-column,
.tasks-table td.action-column {
  width: 100px; /* Set to a fixed width or adjust as needed */
  text-align: center; /* Center align the delete button */
}

.delete-task-button {
  padding: 6px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}


.delete-task-button:hover {
  background-color: #c0392b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .all-tasks-container {
    margin-left: 0;
    padding: 20px;
  }

  .controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-and-filter {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

}
