/* ProjectsPage.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc; /* Griul deschis folosit pentru fundalul paginii */
}

.projects-page-container {
  padding: 20px;
  background-color: #f7f9fc; /* Griul deschis */
  min-height: 100vh; /* Se asigură că containerul ocupă cel puțin înălțimea ferestrei */
  margin-left: 220px;
}

.projects-page-container h1 {
  font-size: 2.5rem;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.error-message {
  color: #e74c3c;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  flex-grow: 1;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 20px;
}

.create-project-button {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
}

.create-project-button:hover {
  background-color: #27ae60;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.project-card h3 {
  margin-top: 0;
  color: #2c3e50;
}

.project-card p {
  color: #7f8c8d;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #2980b9;
}
